.list-group-item
      table(ng-controller='PopulationCtrl', border='1')
        tr
          th Country
          th Population
        tr(ng-repeat='key in countries')
          td(ng-repeat='column in key')
            | {{ column }}

#container(style='width:100%; height:400px;')
